<form class="mythic-dialog">
  <div class="form-group">
    <label>{{localize "mythic.chat.options.circumstance"}}</label>
    <input type="text" name="circumstance" value="0"/>
  </div>
  <div class="form-group">
    <label>{{localize "mythic.chat.options.times"}}</label>
    <input type="number" name="times" value="1"/>
  </div>
  <div class="form-group">
    <label>{{localize "mythic.chat.options.penalty"}}</label>
    <input type="number" name="penalty" value="10"/>
  </div>
</form>