.message-content {
    .post-ability {
        h1 {
            display: inline-grid;
            grid-template-columns: 45px auto;
            column-gap: 8px;
            width: 100%;
            align-items: center;

            img {
                height: 45px;
            }
        }
    }
}