.message-content {
    .post-header {
        display: inline-grid;
        grid-template-columns: 45px auto;
        column-gap: 8px;
        width: 100%;
        align-items: center;

        img {
            height: 45px;
        }
    }

    .post-attack {
        div:not(:first-of-type) {
            border-top: 2px dotted black;
        }

        .damage-block {
            text-align: center;
        }
    }
}