.dialog {
    .scatter-dialog .form-group {
        display: grid;
        grid-template-columns: 1fr 150px;

        input {
            place-self: center;
            text-align: center;
        }
    }
}

.message-content {
    .post-header {
        display: inline-grid;
        grid-template-columns: 45px auto;
        column-gap: 8px;
        width: 100%;
        align-items: center;

        img {
            height: 45px;
        }
    }

    .post-attack {
        div:not(:first-of-type) {
            border-top: 2px dotted black;
        }

        .damage-block {
            text-align: center;

            .scatter:hover {
                font-weight: 800;
                text-shadow: 0 0 8px red;
                cursor: pointer;
            }
        }

        .special {}
    }
}