@import "./character-sheet.less";
@import "./item-sheet.less";
@import "./message.less";

.mythic.sheet {
  form {
    display: flex;
    flex-direction: column;
  }

  .sheet-content {
    height: 100%;
    display: flex;
    flex-direction: column;

    .editor {
      height: 100%;
    }
  }

  table {
    th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th button {
      color: white;
    }

    td {
      text-align: center;
    }
  }

  button {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    box-sizing: content-box;
    width: 85%;

    i {
      margin: 0;
      padding: 0;
    }
  }

  [aria-disabled="true"] {
    cursor: not-allowed;
  }
}

.language {
  display: inline-block;
  color: white;
  margin: 2px 1px;
  padding: 2px;
  border: 2px solid gray;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}
