<nav class="sheet-navigation tabs" data-group="primary">
  <a class="item active" data-tab="summary">Summary</a>
  <a class="item" data-tab="skills">Skills</a>
  <a class="item" data-tab="weapons">Weapons</a>
  <a class="item" data-tab="armor">Armor</a>
  <a class="item" data-tab="equipment">Equipment</a>
  <a class="item" data-tab="medical">Medical</a>
  <a class="item" data-tab="biography">Biography</a>
  <a class="item" data-tab="notes">Notes</a>
  <a class="item" data-tab="settings">Settings</a>
</nav>