<section class="character-weapon-summary summary-table">
  <table>
    <thead>
      <tr>
        <th colspan="7">Weapons</th>
      </tr>
      <tr>
        <th>Group</th>
        <th>Name</th>
        <th>Ammo</th>
        <th>Magazine</th>
        <th>Sin.</th>
        <th>Half</th>
        <th>Full</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>R</td>
        <td>DTM/Law Enforcement Series Close Assault Weapon System</td>
        <td>INSTFLBCR</td>
        <td>7 / 12</td>
        <td><button>1</button></td>
        <td><button>2</button></td>
        <td><button>4</button></td>
      </tr>
      <tr>
        <td>R</td>
        <td>Confetti Maker</td>
        <td>HYPHEAPINsSAPMG</td>
        <td>120 / 120</td>
        <td><button>1</button></td>
        <td><button>10</button></td>
        <td><button>20</button></td>
      </tr>
      <tr>
        <td>M</td>
        <td>Energy Sword</td>
        <td colspan="2">Reach: 3 meters</td>
        <td><button>1</button></td>
        <td><button>4</button></td>
        <td><button>8</button></td>
      </tr>
      <tr>
        <td>G</td>
        <td>Plasma Grenade</td>
        <td>--</td>
        <td>1 / 2</td>
        <td colspan="3"><button>1</button></td>
      </tr>
      <tr>
        <td>V</td>
        <td>NA6 Defoliant Projector</td>
        <td>White Diamond Defoliant</td>
        <td>54 / 60</td>
        <td><button>1</button></td>
        <td><button>3</button></td>
        <td><button>6</button></td>
      </tr>
    </tbody>
  </table>
</section>