<section class="character-stat-block">
  <table>
    <thead>
      <tr>
        <th>STR</th>
        <th>TOU</th>
        <th>AG</th>
        <th>WFR</th>
        <th>WFM</th>
        <th>INT</th>
        <th>PER</th>
        <th>CR</th>
        <th>CH</th>
        <th>LD</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="characteristic">120</td>
        <td class="characteristic">120</td>
        <td class="characteristic">120</td>
        <td class="characteristic">120</td>
        <td class="characteristic">120</td>
        <td class="characteristic">120</td>
        <td class="characteristic">120</td>
        <td class="characteristic">120</td>
        <td class="characteristic">120</td>
        <td class="characteristic">120</td>
      </tr>
    </tbody>
  </table>
  <div class="extra-stats">
    <table class="mythics">
      <thead>
        <tr>
          <th colspan="3">Mythic Characteristics</th>
        </tr>
        <tr>
          <th>STR</th>
          <th>TOU</th>
          <th>AGI</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>20</td>
          <td>20</td>
          <td>20</td>
        </tr>
      </tbody>
    </table>
    <table class="movement">
      <thead>
        <tr>
          <th colspan="7">Character Movement</th>
        </tr>
        <tr>
          <th>Half</th>
          <th>Full</th>
          <th>Charge</th>
          <th>Run</th>
          <th>Sprint</th>
          <th>Jump</th>
          <th>Leap</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>40</td>
          <td>40</td>
          <td>40</td>
          <td>40</td>
          <td>40</td>
          <td>40</td>
          <td>40</td>
        </tr>
      </tbody>
    </table>
    <table class="carry">
      <thead>
        <tr>
          <th colspan="3">Carrying Capacity</th>
        </tr>
        <tr>
          <th>Carry</th>
          <th>Lift</th>
          <th>Push</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10000</td>
          <td>10000</td>
          <td>10000</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>