<nav class="sheet-tabs tabs" data-group="primary">
  <a class="item" data-tab="summary">Summary</a>
  <a class="item" data-tab="talents">Talents</a>
  <a class="item" data-tab="inventory">Inventory</a>
  <a class="item" data-tab="medical">Medical</a>
  <a class="item" data-tab="experience">Experience</a>
  <a class="item" data-tab="biography">Biography</a>
  <a class="item" data-tab="notes">Notes</a>
  <a class="item" data-tab="settings">Settings</a>
</nav>