<section class="sheet-body">
  {{!-- Summary Page: --}}
  <div class="tab" data-group="primary" data-tab="summary">
    {{> "systems/mythic/templates/partials/character-sheet-summary.hbs"}}
  </div>

  {{!-- Skills & Educations Page: --}}
  <div class="tab" data-group="primary" data-tab="skills">
    {{> "systems/mythic/templates/partials/character-sheet-skills.hbs"}}
  </div>

  {{!-- Weapons Page: --}}
  <div class="tab" data-group="primary" data-tab="weapons">
    {{!-- TODO --}}
  </div>

  {{!-- Armor Page: --}}
  <div class="tab" data-group="primary" data-tab="armor">
    {{!-- TODO --}}
  </div>

  {{!-- Equipment Page: --}}
  <div class="tab" data-group="primary" data-tab="equipment">
    {{!-- TODO --}}
  </div>

  {{!-- Medical Page: --}}
  <div class="tab" data-group="primary" data-tab="medical">
    {{!-- TODO --}}
  </div>

  {{!-- Biography Page: --}}
  <div class="tab sheet-content" data-group="primary" data-tab="biography">
    <h1>{{localize "mythic.characterNav.bio"}}</h1>
    {{editor content=data.data.biography target="data.biography" button=true owner=owner editable=this.options.editable}}
  </div>

  {{!-- Notes Page: --}}
  <div class="tab sheet-content" data-group="primary" data-tab="notes">
    <h1>{{localize "mythic.characterNav.notes"}}</h1>
    {{editor content=data.data.notes target="data.notes" button=true owner=owner editable=this.options.editable}}
  </div>

  {{!-- Settings Page: --}}
  <div class="tab" data-group="primary" data-tab="settings">
    {{!-- TODO --}}
  </div>
</section>