{{!-- Summary Page: --}}
{{> "systems/mythic/templates/partials/character-sheet-summary.hbs"}}

{{!-- Skills & Educations Page: --}}
{{!-- {{> "systems/mythic/templates/partials/character-sheet-skills.hbs"}} --}}

{{!-- Weapons Page: --}}
{{!--  --}}

{{!-- Armor Page: --}}
{{!--  --}}

{{!-- Equipment Page: --}}
{{!--  --}}

{{!-- Medical Page: --}}
{{!--  --}}

{{!-- Biography & Notes Pages: --}}
{{!-- <form>
  <h1>{{data.name}}'s Biography</h1>
  <div class="text-entry">
    <textarea class="editor" name="data._">{{data._}}</textarea>
  </div>
</form> --}}

{{!-- Settings Page: --}}
{{!--  --}}