<nav class="talent-tabs tabs" data-group="secondary">
  <a class="item" data-tab="abilities">{{localize "mythic.characterNav.talents.abilities"}}</a>
  <a class="item" data-tab="skills">{{localize "mythic.characterNav.talents.skills"}}</a>
  <a class="item" data-tab="trainings">{{localize "mythic.characterNav.talents.trainings"}}</a>
</nav>

<section class="talent-body">
  {{!-- Abilities & Traits Page: --}}
  <div class="tab" data-group="secondary" data-tab="abilities">
    {{> "systems/mythic/templates/partials/character-sheet-abilities.hbs"}}
  </div>

  {{!-- Skills Page: --}}
  <div class="tab" data-group="secondary" data-tab="skills">
    {{> "systems/mythic/templates/partials/character-sheet-skills.hbs"}}
    {{> "systems/mythic/templates/partials/character-sheet-educations.hbs"}}
  </div>

  {{!-- Trainings Page: --}}
  <div class="tab" data-group="secondary" data-tab="trainings">
    {{> "systems/mythic/templates/partials/character-sheet-trainings.hbs"}}
  </div>
</section>