<section class="sheet-body">
  {{!-- Summary Page: --}}
  <div class="tab" data-group="primary" data-tab="summary">
    {{> "systems/mythic/templates/partials/character-sheet-summary.hbs"}}
  </div>

  {{!-- Talents Page: --}}
  <div class="tab" data-group="primary" data-tab="talents">
    {{> "systems/mythic/templates/partials/character-sheet-talents.hbs"}}
  </div>

  {{!-- Inventory Page: --}}
  <div class="tab" data-group="primary" data-tab="inventory">
    <p><b>TODO</b></p>
  </div>

  {{!-- Medical Page: --}}
  <div class="tab" data-group="primary" data-tab="medical">
    <p><b>TODO</b></p>
  </div>

  {{!-- Experience Page --}}
  <div class="tab" data-group="primary" data-tab="experience">
    {{> "systems/mythic/templates/partials/character-sheet-experience.hbs"}}
  </div>

  {{!-- Biography Page: --}}
  <div class="tab" data-group="primary" data-tab="biography">
    {{> "systems/mythic/templates/partials/character-sheet-editor.hbs" content=data.data.biography target="data.biography" link="biography"}}
  </div>

  {{!-- Notes Page: --}}
  <div class="tab" data-group="primary" data-tab="notes">
    {{> "systems/mythic/templates/partials/character-sheet-editor.hbs" content=data.data.notes target="data.notes" link="notes"}}
  </div>

  {{!-- Settings Page: --}}
  <div class="tab" data-group="primary" data-tab="settings">
    {{> "systems/mythic/templates/partials/character-sheet-settings.hbs"}}
  </div>
</section>