<header class="sheet-header">
  {{> "systems/mythic/templates/partials/vehicle-details.hbs"}}
</header>
{{> "systems/mythic/templates/partials/vehicle-crew-manifest.hbs"}}
<div class="vehicle-summary">
  {{#if (eq system.propulsion.type "none")}}
    {{> "systems/mythic/templates/partials/stationary.hbs"}}
  {{else if (eq system.propulsion.type "legs")}}
    {{> "systems/mythic/templates/partials/walker.hbs"}}
  {{else}}
    {{> "systems/mythic/templates/partials/gauge.hbs"}}
  {{/if}}
  {{> "systems/mythic/templates/partials/vehicle-stat-block.hbs"}}
</div>
{{> "systems/mythic/templates/partials/character-weapon-summary.hbs"}}
