<header class="sheet-header">
  {{> "systems/mythic/templates/partials/vehicle-details.hbs"}}
</header>
{{> "systems/mythic/templates/partials/vehicle-crew-manifest.hbs"}}
<div class="vehicle-summary">
  {{> "systems/mythic/templates/partials/gauge.hbs"}}
  {{> "systems/mythic/templates/partials/vehicle-stat-block.hbs"}}
</div>
{{> "systems/mythic/templates/partials/character-weapon-summary.hbs"}}
