<header class="sheet-header">
  {{> "systems/mythic/templates/partials/vehicle-details.hbs"}}
</header>
<div class="vehicle-summary">
  {{> "systems/mythic/templates/partials/gauge.hbs"}}
  {{> "systems/mythic/templates/partials/vehicle-stat-block.hbs"}}
</div>
