<div>
  <table>
    <tbody>
      <tr>
        <td class="education-list-chat">
          {{#each (itemsOfType "education" this.system.items) as |edu|}}
            <div>{{edu.name}}</div>
          {{else}}
            <div>{{localize "mythic.chat.educations.empty"}}</div>
          {{/each}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
