<div>
  {{#if (isEmptyDataObject system.trainings.equipment)}}
    <p>{{localize "mythic.chat.equip-training.empty"}}</p>
  {{else}}
    <ul>
      {{#each system.trainings.equipment as |trained group|}}
        {{#if trained}}
          <li>
            <b>{{localize (concat "mythic.trainings.equipment." group)}}:&nbsp;</b>
            {{localize (concat "mythic.trainings.examples." group)}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
  {{/if}}
</div>
