<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Tab Navigation --}}
  {{> "systems/mythic/templates/partials/character-nav.hbs"}}

  {{!-- Sheet Body --}}
  {{> "systems/mythic/templates/partials/character-sheet-body.hbs"}}
</form>