<form class="{{cssClass}}" autocomplete="off">
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="summary">
      {{localize "mythic.characterNav.summary"}}
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Summary Page: --}}
    <div class="tab" data-group="primary" data-tab="summary">
      {{> "systems/mythic/templates/partials/vehicle-sheet-summary.hbs"}}
    </div>
  </section>
</form>
